name: CI

on:
  schedule:
    - cron: "00 22 * * *"
  workflow_dispatch:

jobs:
  Antithesis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log Into Registry
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.ANTITHESIS_GAR_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Config Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./config.Dockerfile
          push: true
          tags: |
            us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/dgraph-config:${{ github.sha }}
            us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/dgraph-config:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Workload Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./workload.Dockerfile
          push: true
          tags: |
            us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/dgraph-workload-test:${{ github.sha }}
            us-central1-docker.pkg.dev/molten-verve-216720/demo-repository/dgraph-workload-test:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Output Image Tags
        run: |
          echo "Images pushed with tags:"
          echo "- dgraph-config:${{ github.sha }}"
          echo "- dgraph-workload-test:${{ github.sha }}"

      - name: Trigger Antithesis
        uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: dgraph
          tenant: demo
          username: ${{ secrets.ANTITHESIS_USER_NAME }}
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          config_image: dgraph-config:latest
          description: "[${{ github.repository }}] CI for ${{ github.ref_name }} (commit ${{ github.sha }})"
          email_recipients: ${{ github.event.inputs.emails || secrets.ZULIP_REPORT_EMAIL }}
          additional_parameters: |-
            antithesis.duration=${{ github.event.inputs.duration || '15' }}